<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.students.spring.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>ru.students.spring.controllers.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>ru.students.spring.controllers.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListLection</servlet-name>
        <servlet-class>ru.students.spring.controllers.ListLectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLection</servlet-name>
        <url-pattern>/listLection</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>ru.students.spring.controllers.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditJournal</servlet-name>
        <servlet-class>ru.students.spring.controllers.EditJournalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditJournal</servlet-name>
        <url-pattern>/editJournal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>ru.students.spring.controllers.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddJournal</servlet-name>
        <servlet-class>ru.students.spring.controllers.AddJournalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddJournal</servlet-name>
        <url-pattern>/addJournal</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ru.students.spring.controllers.listeners.ApplicationLoadListener</listener-class>
    </listener>
    <listener>
        <listener-class>ru.students.spring.controllers.listeners.SessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>beans.xml</param-value>
    </context-param>

</web-app>